.service-section{
    background-image: url("../assests//servicedata-bg-2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}
.card{
    padding: 1rem !important;
}
.expertise-text{
    color: #DF6352;
    letter-spacing: 13px;
    font-weight: bold;
}
.our-services-text{
letter-spacing: 16px;
}
.icon{
    width: 40px;
    height: 40px;
}
.arrow-icon{
    color: #DF6352;
    margin-top: 2px;
}
.more-about-text{
    color: #DF6352;
}
.service-card{
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 0px 0px .1px #DF6352; */
    border: 1px solid #DF6352;
    transition: border 0.3s ease;
}

/* While hover on card */
.icon-section-hover,
.icon-section {
    transition: all 0.3s ease;
}
.icon-section-hover{
    height: 60px;
    width: 60px;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 0.2rem #DF6352;
    position: relative;
}
.icon-hover{
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
}
.read-btn-hover{
    background-color: #DF6352;
    color: white;
    border: none;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    padding: 5px 20px;
}


/* media queries */


/*                 576px              */
@media (max-width:577px){
    .our-services-text{
        font-size: 40px !important;
    }
}


/*                 426px              */
@media (max-width:426px){
    .our-services-text{
        font-size: 25px !important;
        letter-spacing: 10px;
    }
    .expertise-text{
        font-size: 16pxpx;
        letter-spacing: 10px;
    }
}