* {
  font-family: 'Montserrat', sans-serif !important;
}



.montserrat-unique {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace <weight> with a valid number */
  font-style: normal;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
