.main-section{
    background-image: url("../assests//mainImage.png");
    background-size: cover;
}
.headline{
    color: #DF6352;
}

.main-headline-section{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}
.main-headline-section > h1{
    font-size: 80px;
}
.main-headline-section > p{
    font-size: 30px;
}
.learn-btn{
    background-color: #DF6352;
    padding: .5rem 1rem;
    color: white;
    border: none;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    box-shadow: 0rem 0rem 0.5rem 0rem #DF6352;
}
.learn-btn:hover{
    background-color: transparent;
    color: white;
    border: 1px solid #DF6352;
}
/* About */
.read-btn{
    background-color: #DF6352;
    color: white;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    box-shadow: 0rem 0rem 0.5rem 0rem #DF6352;
}
.read-btn:hover{
    background-color: transparent;
    color: #DF6352;
    border: 1px solid #DF6352;
}
.about-text{
    color: #DF6352;
    letter-spacing: 3px;
    font-size: 20px;
}
.action-text{
    color: #DF6352;
}
.talk-btn{
    background-color: #DF6352;
    color: white;
    padding: .8rem 3rem;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.talk-btn:hover{
    border: 1px solid #DF6352;
    background-color: transparent;
    color: white;
    box-shadow: 0rem 0rem 0.5rem 0rem #DF6352;
}
/* Services */
.services-section{
    background-color: black;
    padding-top: 5rem;
    padding-bottom: 15rem;
    background-image: url("../assests/services-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.service-cards{
    margin-top: -200px;
    margin-bottom: 100px;
}
.expertise-text{
    color: #DF6352;
    letter-spacing: 3px;
    font-size: 20px;
}
.services-text{
    color: white;
}
/* Testimonial */
.happy-text{
    color: #DF6352;
    letter-spacing: 3px;
    font-weight: bold;
}
/* media queries */
/*                 991px                 */
@media (min-width:769px) and (max-width:992px){
    .container{
        max-width: 870px;
    }
}
@media (max-width:992px){

    .main-headline-section > h1{
        font-size: 70px;
    }
    .main-headline-section > p{
        font-size: 25px;
    }
    .get-text{
        font-size: 45px;
    }
}
/*                 768px                 */
@media screen and (max-width:768px){
    .main-headline-section{
        align-items: center;
    }
    .container{
        max-width: 700px;
    }
    .main-headline-section > h1{
        font-size: 50px;
        text-align: center;
    }
    .main-headline-section > p{
        font-size: 20px;
    }
    .get-text{
        font-size: 35px;
    }
    .talk-btn{
        padding: .4rem 2rem;
    }
}
/*                 576px                 */
@media (max-width:577px){
    .main-headline-section{
        align-items: center;
    }
    .main-headline-section > h1{
        font-size: 45px;
        text-align: center;
    }
    .main-headline-section > p{
        font-size: 25px;
    }
    .how-work-text{
        font-size: 45px;
    }
}
/*                 425px                 */
@media (max-width:426px){
    .main-headline-section{
        align-items: center;
    }
    .main-headline-section > h1{
        font-size: 40px;
        text-align: center;
    }
    .main-headline-section > p{
        font-size: 16px;
        text-align: center;
    }
    .get-text{
        font-size: 30px;
    }
    .talk-btn{
        padding: .3rem 1.7rem;
    }
    .how-work-text{
        font-size: 35px;
    }
    .services-text{
        font-size: 35px;
    }
    .expertise-text{
        font-size: 16px;
    }
    .testimonial-text{
        font-size: 35px;
    }
}

/*                 375px                 */
@media (max-width:376px){
    .main-headline-section > h1{
        font-size: 30px;
        text-align: center;
    }
    .main-headline-section > p{
        font-size: 16px;
    }
    .get-text{
        font-size: 25px;
    }
    .talk-btn{
        padding: .2rem 1.7rem;
    }
}