.swiper-slide {
    display: flex !important;
    justify-content: center !important;
}
/* .swiper-slide-active{
    display: flex !important;
    justify-content: center !important;
} */
.comments-card{
    background-color: black;
    color: white;
    padding: 20px;
    width: 21rem;
}
.swiper-button-next{
    color: black !important;
    right: var(--swiper-navigation-sides-offset, 50px) !important;
}
.swiper-button-prev{
    color: black !important;
    left: var(--swiper-navigation-sides-offset, 50px) !important;
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 30px !important;
}
.quote-icon{
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}
.swiper-pagination{
    position: relative !important;
}
.swiper-pagination-bullet-active {
    background-color: #DF6352 !important;
    opacity: 1 !important;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0 !important;
}
@media (max-width:993px){
    .swiper-button-next{
        color: black !important;
        right: var(--swiper-navigation-sides-offset, 20px) !important;
    }
    .swiper-button-prev{
        color: black !important;
        left: var(--swiper-navigation-sides-offset, 20px) !important;
    }
}
@media (max-width:426px){
    .comments-card{
        width: 18rem;
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 25px !important;
    }
    .swiper-button-next{
        color: black !important;
        right: var(--swiper-navigation-sides-offset, 10px) !important;
    }
    .swiper-button-prev{
        color: black !important;
        left: var(--swiper-navigation-sides-offset, 10px) !important;
    }
}
 @media (max-width:376px){
    .comments-card{
        width: 16rem;
    }
 }
 @media (max-width:320px){
    .comments-card{
        width: 15rem;
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 20px !important;
    }
    .swiper-button-next{
        color: black !important;
        right: var(--swiper-navigation-sides-offset, 0px) !important;
    }
    .swiper-button-prev{
        color: black !important;
        left: var(--swiper-navigation-sides-offset, 0px) !important;
    }
 }