.footer-logo{
    width: 15%;
}
.footer-line{
    color: white;
}
.social-icons{
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.soc-icon{
    color: white;
}
.soc-icon:hover{
    color: #DF6352;
}
/* Media Queries */
@media (max-width:769px){
    .footer-logo{
        width: 20%;
    }
    .social-icons{
        gap: 15px;
        font-size: 20px;
    }
}
@media (max-width:426px){
    .footer-logo{
        width: 28%;
    }
    .social-icons{
        font-size: 17px;
    }
    .copy-right-text{
        font-size: 14px;
    }
}
@media (max-width:376px){
    .footer-logo{
        width: 35%;
    }
    .social-icons{
        font-size: 17px;
    }
    .copy-right-text{
        font-size: 12px;
    }
}
@media (max-width:320px){
    .footer-logo{
        width: 50%;
    }
    .social-icons{
        font-size: 16px;
    }
}