.footer-logo{
    width: 15%;
}
.footer-line{
    color: white;
}
.social-icons{
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.soc-icon{
    color: white;
}
.soc-icon:hover{
    color: #DF6352;
}