.servicename-section{
    height: 40vh;
    background-image: url("../assests/servicedata-bg-2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.our-services-text{
    letter-spacing: 10px;
}
.heading-color{
    color: #DF6352;
}
.web{
    color: #DF6352 !important;
    font-size: 20px;
    letter-spacing: 2px;
}
.servicedata-img{
    width: 900px;
    height: 350px;
}
.billing-img{
    width: 300px;
    height: 200px;
}
.list-bullets{
    list-style: none;
}
.tick-icon{
    color: #DF6352;
}
.card-title{
    background-color: #DF6352;
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.servicedata-cards{
    padding: 0 !important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}