.servicename-section {
  /* height: 50vh; */
  background-image: url("../assests/servicedata-bg-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.servicename-section > div {
  height: 30vh;
}
.our-services-text {
  letter-spacing: 10px;
}
.heading-color {
  color: #df6352;
}
.web {
  color: #df6352 !important;
  font-size: 20px;
  letter-spacing: 2px;
}
.servicedata-img {
  width: 900px;
  height: 350px;
}
.billing-img {
  width: 300px;
  height: 200px;
}
.list-bullets {
  list-style: none;
}
.tick-icon {
  color: #df6352;
}
.card-title {
  background-color: #df6352;
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.servicedata-cards {
  padding: 0 !important;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
