.get-started-text{
    color: #DF6352;
    letter-spacing: 7px;
}
.contact-page-icons{
    font-size: 25px;
    color: #DF6352;
}
.contact-detail-bg{
    padding: 10px;
    border-radius: 20px;
}
.contact-detail-bg:hover{
    background-color: aliceblue;
}
.action-text{
    color: #DF6352;
}
.contact-box{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    width: 76%;
}
.input-field{
    border: none;
    border-bottom: .5px solid black;
    outline: none;
    padding: 5px 10px;
}
.input-field:focus{
    border-bottom: .5px solid #DF6352;
}
.submit-btn{
    background-color: #DF6352;
    border: none;
    padding: .5rem 1rem;
    color: white;
}
.submit-btn:hover{
    background-color: white;
    color: #DF6352;
    border: 1px solid #DF6352;
}

/* Media Queries */

@media(max-width:993px){
    .contact-box{
        width: 100%;
    }
}